<nav class="navbar navbar-expand-lg bg-body-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'/'">
      <!-- Open Banking Dashboard -->
       <img src="../../../assets/logo_small.png" alt="" width="75px">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="'/'"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLinkActive]="'active text-underline'"
            > Home </a>
        </li>
        <li class="nav-item" *ngIf="accountService.currentUser$ | async as user">
          <a
            class="nav-link"
            [routerLink]="'/account'"
            [routerLinkActive]="'active'"
            >Accounts</a
          >
        </li>
        <li class="nav-item" *ngIf="accountService.currentUser$ | async as user">
          <a class="nav-link"
            [routerLink]="'/transactions'"
            [routerLinkActive]="'active'"
            >All Transactions</a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="accountService.currentUser$ | async as user">
  <div class="dropdown ms-3 me-5 d-flex flex-row" style="cursor: pointer;">
          <strong class="me-5">Welcome {{user.displayName}}!</strong>
          <button class="btn btn-secondary mx-1" (click)="accountService.logout()">Logout</button>
    </div>
  </div>
    <!-- From Uiverse.io by Galahhad -->
    <label class="ui-switch me-2">
      <input type="checkbox" (change)="toggleTheme()" id="toggle" >
      <div class="slider">
        <div class="circle"></div>
      </div>
    </label>
</nav>
