<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
    <h3 class="display-4 fw-bold lh-1 text-body-emphasis">OpenBanking Account Dashboard</h3>
        <h4 class="mx-1">Your Finances, All in One Place</h4>
        <p class="flex-column px-3 justify-content-center align-content-center">
          Unlock the full potential of Open Banking with a powerful, secure dashboard that puts you in control.<br>
          Seamlessly connect your bank accounts, credit cards, and financial services to get a real-time overview of your spending, income, and financial health.<br>
          Our intuitive interface makes it easy to track your money and discover insights that help you make smarter financial decisions—whether you’re managing personal finances or running a small business.<br>
          Built with bank-grade security and backed by Open Banking standards, our platform ensures your data is always protected and never shared without your permission.
        </p>
      <div class="flex-row my-2">
        <div class="d-flex justify-content-evenly" *ngIf="(accountService.currentUser$ | async) === null">
            <button class="btn btn-primary btn-lg" [routerLink]="'/login'" >Login</button>
            <button class="btn btn-secondary btn-lg" [routerLink]="'/register'">Register</button>
        </div>
      </div>
    </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg ">
          <img class="rounded-lg-3 img-fluid" src="../../assets/hero.jpg" alt width="500" >
      </div>
  </div>

</div>
