<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-2 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
     <img src="../../assets/logo.png" alt="" class="display-4 mb-5 lh-1">
        <h4 class="mx-1 mb-4">Your Finances, All in One Place</h4>
        <span class="flex-column px-3 text-start">
          <p>Unlock the full potential of Open Banking with a powerful, secure dashboard that puts you in control.</p>
          <hr>
          <p>Seamlessly connect your bank accounts, credit cards, and financial services to get a real-time overview of your spending, income, and financial health.</p>
          <hr>
          <p>Our intuitive interface makes it easy to track your money and discover insights that help you make smarter financial decisions</p>
        </span>
      <div class="flex-row my-2">
        <div class="d-flex justify-content-evenly" *ngIf="(accountService.currentUser$ | async) === null">
            <button class="btn btn-primary btn-lg" [routerLink]="'/login'" >Login</button>
            <button class="btn btn-secondary btn-lg" [routerLink]="'/register'">Register</button>
        </div>
      </div>
    </div>
      <div class="col-lg-4 offset-sm-1 p-0 overflow-hidden shadow-lg ">
        <img class="rounded-lg-3 img-fluid" src="../../assets/hero.jpg" alt width="500" >
      </div>
  </div>

</div>
