<ng-container>
<h1 class="mt-5 w-100">Accounts:</h1>
  <div class="d-flex justify-content-center w-100">
    <div class="d-flex flex-row justify-content-evenly align-content-between w-50 mt-2">
      <button class="btn btn-primary btn-lg mt-4" data-bs-toggle="modal" data-bs-target="#selectModal">Link an account</button>
    </div>
  </div>
</ng-container>
<div class="container mt-5 w-100">
  <div class="row justify-content-evenly align-content-evenly align-items-between w-100 mx-2">
  <ng-container *ngIf="accounts">
    <div class="d-flex col-3 mx-2 mb-3" *ngFor="let account of accounts">
    <div class="card mt-2">
      <p class="card-title">{{account.accountSubType}} ({{account.currency}}) </p>
      <p class="balance">{{account.name}}</p>
      <p class="balance" *ngIf="account.balance">{{getCurrencySymbol(account?.balance?.currency!) + account.balance.amount}}</p>
      <p class="account">
        <svg
          width="20"
          height="20"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
        >
          <rect width="22" height="16" x="1" y="4" rx="2" ry="2"></rect>
          <path d="M1 10h22"></path>
        </svg>
        Account: {{account.accountId}}
      </p>
      <div class="buttons">
        <a [routerLink]="['/account',account.accountId]" [state]="account" class="button button-transfer">
          <svg
            width="16"
            height="16"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
          >
            <path d="M7 17l9.2-9.2M17 17V7H7"></path>
          </svg>
          View
        </a>

      </div>

    </div>
    </div>
  </ng-container>
</div>

</div>


<!--Modal-->
<div class="modal fade rounded-5" id="selectModal" tabindex="-1" aria-labelledby="selectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Choose provider</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <button class="btn btn-secondary btn-lg text-white justify-content-center align-middle" (click)="linkAccount()">
          <img src="../../assets/revolut.png" alt="Revolut Logo" class=" img-fluid py-1" height="25px" width="25px" /> Revolut
        </button>
        <p class="my-3"><em>More coming soon...</em></p>
      </div>
    </div>
  </div>
</div>
