<div >
  <div id="csvDownload" class="py-2 my-2"></div>
    <h1 class="h1">All Transactions</h1>
    <div *ngIf="transactions.length === 0 ">
      <h3 class="text-danger">No Transactions found</h3>
    </div>
    <div *ngIf="transactions">
      <div>
        <hr>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Transaction Date</th>
              <th>Account</th>
              <th>Currency</th>
              <th>Amount</th>
              <th>Detail</th>
              <th>Type</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions">
              <td>{{transaction.bookingDateTime|date:'dd/MM/yyyy HH:mm:ss'}}</td>
              <td>{{transaction.rootAccountId}}</td>
              <td>{{transaction.amountCurrency}}</td>
              <td>{{(transaction.creditDebitIndicator == "Debit" ? ("-"+transaction.amount)  : transaction.amount)}}</td>
              <td>{{transaction.transactionInformation}} </td>
              <td>{{transaction.proprietaryBankTransactionCode ?? transaction.creditDebitIndicator}}</td>
              <td>{{transaction.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
